<div class="form-popup" id="app_form">
  <form id="application_form">
    <div id="email">
      <label>
        Email: 
        <input name="email" type="email" placeholder="example@example.com">
      </label>
    </div>
    <div id="character_name">
      <label>
        Character Name: 
        <input name="character_name" type="text" placeholder="Leeroy">
      </label>
    </div>
    <div id="battle_net_id">
      <label>
        Battle.Net ID: 
        <input name="battle_net_id" type="text" placeholder="Example#2345">
      </label>
    </div>
    <div id="app_type">
      <label for="raider"><span>Raider: </span><input class="with-gap" name="app_type" id="raider" type="radio" value="raider"></label>
      <label for="social"><span>Social: </span><input class="with-gap" name="app_type" id="social" type="radio" value="social" checked="true"></label>
    </div>
    <br>
    <div id="submit_button">
      <button class="waves-effect waves-light btn">Submit</button>
    </div>
    <br>
  </form>
</div>
