<div id="guildInfo">
<!--   <h2 id="guildInfoOne">
    <span class="guildName">P</span>
    <span class="guildName">r</span>
    <span class="guildName">e</span>
    <span class="guildName">s</span>
    <span class="guildName">u</span>
    <span class="guildName">m</span>
    <span class="guildName">p</span>
    <span class="guildName">t</span>
    <span class="guildName">u</span>
    <span class="guildName">o</span>
    <span class="guildName">u</span>
    <span class="guildName">s</span>
  </h2> -->

  <h3 id="guildInfoTwo">
    <span class="shadowsong">S</span>
    <span class="shadowsong">h</span>
    <span class="shadowsong">a</span>
    <span class="shadowsong">d</span>
    <span class="shadowsong">o</span>
    <span class="shadowsong">w</span>
    <span class="shadowsong">s</span>
    <span class="shadowsong">o</span>
    <span class="shadowsong">n</span>
    <span class="shadowsong">g</span>
    <span class="slash">/</span>
    <span class="aszune">A</span>
    <span class="aszune">s</span>
    <span class="aszune">z</span>
    <span class="aszune">u</span>
    <span class="aszune">n</span>
    <span class="aszune">e</span>
  </h3>

  <h3 id="guildInfoThree">
    <span class="guildRegion">E</span>
    <span class="guildRegion">U</span>
    <span class="slash">/</span>
    <span class="guildFaction">A</span>
    <span class="guildFaction">l</span>
    <span class="guildFaction">l</span>
    <span class="guildFaction">i</span>
    <span class="guildFaction">a</span>
    <span class="guildFaction">n</span>
    <span class="guildFaction">c</span>
    <span class="guildFaction">e</span>
  </h3>
</div>