@import "materialize";

html {
  line-height: 1.2;
  font-family: 'Quicksand', sans-serif;
}

.discussion_headline {
  padding: 0 1% 0 1%;
  color: #fff;
  padding-left: 12px;
}

.discussion_show .discussion_headline {
  border-top-left-radius:  7px;
  border-top-right-radius: 7px;
}

.discussion_show {
  border-radius: 7px;
}

.discussion_show .discussion_headline h3 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.discussion_content {
  margin-bottom: 20px;
  white-space: pre-line;
  padding: 0 1% 2% 1%;
}

.dicussion-meta-details {
  padding: 0 1% 1% 1%;
}

.discussion-title a {
  letter-spacing: -1px;
}

.comment {
  border-bottom: 1px solid gray;
  padding: 0 1% 1% 1%;
}

#comment_content {
  white-space: pre-line;
}

.comment:nth-child(odd) {
  background-color: #e8e8e8;
}

.comment:nth-child(even) {
  background-color: #eff6f7;
}

#comment_count {
  padding-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  // text-decoration: underline;
}

#comment_submit_button {
  margin-top: 15px;
}

.text-area {
  resize: none;
}

.chip {
  color: white;
  background-color: #1976d2;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.page-footer {
  margin-top: 5%;
  background-color: #1976d2;
  width: 100%;
}

.footer-copyright {
  background-color: #1976d2 !important;
}

#discussion_preview {
  background-color: #e8e8e8;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

#edit_submit_btn {
  margin-bottom: 15px;
}

.edit_buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}

#guildInfo {
  background-image: linear-gradient(90deg, white, #30c3dd);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 150%;
  margin-left: -25%;
  overflow: hidden;
  text-align: center;
}

#guildInfoOne {
  font-family: 'Prompt', sans-serif;
  margin-left: 1.66%;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  width: 50%;
}

#guildInfoTwo {
  font-family: 'Prompt', sans-serif;
  margin-left: 1.66%;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  width: 50%;
}

#guildInfoThree {
  font-family: 'Prompt', sans-serif;
  margin-left: 1.66%;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  width: 50%;
}

.shadowsong {
  color: #30c3dd;
  animation-name: blueText;
  animation-duration: 5s;
}

.guildFaction {
  color: #30c3dd;
  animation-name: blueText;
  animation-duration: 5s;
}

.aszune {
  color: #f747eb;
  animation-name: pinkText;
  animation-duration: 5s;
}

.guildRegion {
  color: #f747eb;
  animation-name: pinkText;
  animation-duration: 5s;
}

.slash {
  color: black
}

@keyframes blueText {
  from {
    color: black;
  }
  to {
    color: #30c3dd;
  }
}

@keyframes pinkText {
  from {
    color: black;
  }
  to {
    color: #f747eb;
  }
}

#application_form {
  width: 30%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: 1.66%;
}

input {
  outline: none;
}

input[type=text] {
  width: 100%;
  margin-bottom: 10px;
}

input[type=email] {
  width: 100%;
  margin-bottom: 10px;
}

input[type=radio] {
  margin-right: 10%;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
     position: relative; 
     opacity: 1; 
}

#images {
  display: block;
}

footer {
  clear: both;
}

.pic {
  width: 30%;
  float: left;
  margin: 1.66%;
  filter: grayscale(100%);
  transition: filter 2s;
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
}

.pic:hover {
  filter: none;
}